{% extends 'base.html.twig' %}

{% block title property.title %}

{% block body %}
    <div class="jumbotron">
        <div class="container">

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {% if not form.vars.valid %}
                <div class="alert alert-danger">
                    Please make sure all fields of the contact form are filled in correctly!
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-8">
                    {% if property.filename %}
                        <img alt="property-image-medium"
                             class="card-img-top" src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('medium') }}"
                             style="border-radius: 3px; filter: saturate(75%) drop-shadow(0 0 0.75rem #999);">
                    {% else %}
                        <img src="{{ '/images/properties/empty.jpg' | imagine_filter('medium')}}" alt="property-image-medium" class="card-img-top" style="border-radius: 3px">
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <h1 class="text-success">{{ property.title }}</h1>
                    <h2 class="text-secondary">{{ property.rooms }} rooms - {{ property.surface }} m²</h2>
                    <div class="text-danger" style="font-size: 4rem; font-weight: 300">{{ property.formattedPrice }}
                        $
                    </div>
                    <a href="#" class="btn btn-success">Contact the agency</a>
                    <div id="contactForm" class="mt-4">
                        {{ form_start(form) }}
                            <div class="row">
                                <div class="col">{{ form_row(form.firstname) }}</div>
                                <div class="col">{{ form_row(form.lastname) }}</div>
                            </div>
                            <div class="row">
                                <div class="col">{{ form_row(form.phone) }}</div>
                                <div class="col">{{ form_row(form.email) }}</div>
                            </div>
                            {{ form_rest(form) }}
                            <div class="form-group">
                                <button class="btn btn-success">
                                    Send
                                </button>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">

        <p>
            {{ property.description | nl2br }}
        </p>

        <div class="row">
            <div class="col-md-8">
                <h2 class="text-secondary">Caracteristics</h2>
                <table class="table table-striped">
                    <tr>
                        <td>Living space</td>
                        <td>{{ property.surface }}m²</td>
                    </tr>
                    <tr>
                        <td>Rooms</td>
                        <td>{{ property.rooms }}</td>
                    </tr>
                    <tr>
                        <td>Bedrooms</td>
                        <td>{{ property.bedrooms }}</td>
                    </tr>
                    <tr>
                        <td>Floor</td>
                        <td>{{ property.floor }}</td>
                    </tr>
                    <tr>
                        <td>Heating</td>
                        <td>{{ property.heatType }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h2 class="text-secondary">Specifities</h2>
                <ul class="list-group">
                    {% for option in property.options %}
                        <li class="list-group-item">{{ option.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
